.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/runConfigurations
.idea/artifacts
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Augment Code plugin ###
.idea/AugmentWebviewStateStore.xml

### Copy File Content plugin ###
CopyFileContentSettings.xml

### Android related files
local.properties

### SQL Delight
app/src/commonMain/sqldelight/databases/

### Build output directories
deploy/server/dist
deploy/wasm-client
deploy/caddy/Caddyfile
deploy/server/docker-compose.yml

### Custom ignore rules
/.github/copilot-instructions.md
/.github/git-commit-instructions.md
/.junie
/.serena